<h3>Employee Login</h3>
<form [formGroup]="loginForm" (ngSubmit)="login()" style="width: 400px;">
	<div class="form-group">
		<label for="name">Username</label>
		<input type="text" class="form-control" formControlName="userName" data-toggle="tooltip" data-placement="right" title="Enter Username"
		[ngClass]="{'is-invalid': submitted && loginFormControls.userName.errors}">
		<div *ngIf="submitted && loginFormControls.userName.errors" class="invalid-feedback">
			<div *ngIf="loginFormControls.userName.errors.required">Username is required</div>
		</div>
	</div>
	
	<div class="form-group">
		<label for="name">Password</label>
		<input type="password" class="form-control" formControlName="password" data-toggle="tooltip" data-placement="right" title="Enter Password"
		[ngClass]="{'is-invalid': submitted && loginFormControls.password.errors}">
		<div *ngIf="submitted && loginFormControls.password.errors" class="invalid-feedback">
			<div *ngIf="loginFormControls.password.errors.required">Password is required</div>
		</div>
	</div>
	<div class="form-group">
		<button class="btn btn-primary">
			Login
		</button>
		<a routerLink="/employeeregister" class="btn btn-link">Register</a>
	</div>
</form>